/* Colors */
$orange: #FF810E;
$red: #FF1F0E;
$yellow: #FFB30E;
$brown: #8C4300;
$white: #fefefe;
$black: #020202;

/* Fonts */
$font-heading: "Arial black", gadget, sans-serif;
$font-text: Georgia, serif;
$font-mono: "courier new", courier, monospace;